body {
    background-color: bisque;
}

.selections {
    display: flex;
    justify-content: center;
    outline: none;
    cursor: pointer;
}

.selections:hover {
    transform: scale(1.2
);
}

.results {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.results-score {
    margin-left: .1rem;
    font-size: .5rem;
    color: darkslategrey;
}

.result-selection {
    opacity: .5;
}

.result-selection.winner {
    opacity: 1;
    font-size: 1.5rem;
}
